.adv-filter-bar {
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance:textfield;
    }
    & > .row {
        margin: 0;
        & > div:first-of-type {
            padding-left: 0!important;
        }
        & > div:last-of-type {
            padding-right: 0!important;
        }
    }
    border-bottom: 2px dotted #bbb;
    padding-bottom: 5px;
    h5 {
        margin-bottom: 20px;
    }
    .radio, .checkbox {
        & > label {
            margin-top: 4px;
            margin-bottom: 6px;
            display: block;
            input {
                margin-top: -1px;
            }
        }
    }
    .by-filter {
        &.collapsed { margin: 0 -15px; }
        .text-default {
            color: $text-color;
        }

        .col-md-2 {
            padding-left: 6px;
            padding-right: 6px;
            width: 20%;
            & > h5 {
                font-size: 12.5px;
            }
        }
    }
    .filter-selectables {
        margin: 20px 0;
        & .ui-selection-container,
        & .engagement-container {
            margin-top: 10px;
        }
    }
    .adv-filter {
        border: none;
        min-height: 0;
        .engagement-container .btn {
            text-align: left;
            text-transform: capitalize;
            .glyphicon.check {
                width: 20px;
                text-align: left;
            }
        }
        .ui-select-controller {
            margin-top: 10px;
            margin-bottom: 5px;
            display: inline-block;
        }
        & > .col-md-3 {
            &:last-of-type {
                border-right: 0;
            }
        }
        .custom-percent {
            border-radius: 2px;
            @include box-shadow(none);
            display: inline-block;
            font-size: 12px;
            height: 22px;
            margin-left: 6px;
            margin-right: 2px;
            margin-top: -4px;
            padding: 2px;
            vertical-align: middle;
            width: 50px;
            &.top {
                margin-left: 29px;
            }
        }
    }
    .show-report {
        font-weight: bold;
    }
    .show-selections {
        margin: 0 -15px;
        .col-md-12 {
            padding: 0;
        }
        .btn-link {
            line-height: 16px;
            position: relative;
            margin: 0;
            color: $text-color;
            &:hover {
                text-decoration: none;
                background: #eeeeee;
            }
            &:focus {
                outline: none;
                text-decoration: none;
            }
        }
    }
    .list-selections {
        margin: 0 -4px;
        & > div {
            padding-left: 6px;
            padding-right: 6px;
            &.col-md-2 {
                width: 20%;
            }
        }
        .panel-body {
            height: 200px;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 6px 0;
            ul {
                margin-bottom: 0;
                li {
                    cursor: default;
                    padding: 10px 5px;
                    text-align: left;
                    font-size: 12.5px;
                    &:hover {
                        background: $brand-primary;
                        color: #ffffff;
                    }
                    &:last-child, &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
.view-wrapper {
    display: block;
    padding: 10px 0 0 0;
    a {
        &.active {
            color: $text-color;
            pointer-events: none;
            cursor: default;
            -webkit-user-select: none;
               -moz-user-select: none;
                    user-select: none;
        }
        &:hover, &:focus {
            text-decoration: none;
        }
    }
}
.graph-wrapper  {
    display: inline-block;
    padding: 30px 0;
    height: auto;
    .graph-controls {
        .all-controls, .list-inline {
            display: inline-block;
            user-select: none;
        }
        .all-controls {
            font-size: 11px;
        }
        padding-right: 0;
        font-size: 13px;
        & li {
            margin-left: 5px;
            cursor: pointer;
            .type {
                padding-bottom: 5px;
                border-bottom-width: 5px;
                border-bottom-style: solid;
                display: inline-block;
                margin-bottom: 5px;
            }
            &.on:before {
                content: $fa-var-toggle-on;
                @extend .fa;
                margin-right: 5px;
            }
            &.off {
                .type {
                    opacity: 0.5;
                }
                &::before {
                    @extend .fa;
                    margin-right: 5px;
                    content: $fa-var-toggle-off;
                }
            }
        }
    }
    .chart {
        margin-top: 20px;
        width: 100%!important;
        height: auto;
        max-height: none!important;
        display: inline-block;

    }
    &.block::after {
        background: rgba(#000, 0.36);
        content: "";
        padding-top: 28px;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        user-select: none;
    }
}
.table-wrapper {
    & .col-sm-4, & {
        padding: 0;
    }
    a:hover, a:focus {
        text-decoration: none;
    }
    .table > thead > tr > th {
        cursor: pointer;
    }
    &.block::after {
        background: rgba(#000, 0.36);
        content: "";
        padding-top: 28px;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        -webkit-user-select: none;
           -moz-user-select: none;
                user-select: none;
    }
}
.table-responsive {
    padding: 0;
    .report-table {
        th, td {
            font-size: 12px;
            vertical-align: middle;
            text-align: center;
        }
    }
}
/**
 * Tooltip design for graph
 */
.c3-tooltip {
    width: 230px;
    opacity: 1;
    @include box-shadow(none);
    tr {
        border-color: #666;
        th {
            padding: 10px 5px 10px 8px;
            background: #666;
        }
        td {
            padding-top: 8px;
            padding-bottom: 8px;
            border-left: none;
        }
    }
}
#toast-container .toast-message{
    line-height: 18px;
    font-size: 13px;
}

.c3-ygrid-lines .c3-ygrid-line {
    line, text {
        stroke: #d51d29;
        text-shadow: none;
    }
    line {
        stroke-width: 2.5;
    }
    text {
        font-weight: 300;
    }
}
