<div class="row">
  <div class="col-md-12 adv-filter-bar">
    <div class="row by-filter" data-ng-class="{collapsed: rc.collapsed}">
      <div class="col-md-3" data-ng-class="rc.collapsed ? 'col-md-2': 'col-md-3'">
        <h5 class="text-uppercase text-primary">
          Step 1: <span data-ng-show="rc.collapsed" class="text-default text-capitalize" data-ng-bind="rc.getString(rc.by.step1)"></span>
        </h5>
      </div>
      <div class="col-md-3" data-ng-class="rc.collapsed ? 'col-md-2': 'col-md-3'">
        <h5 class="text-uppercase text-primary">
          Step 2: <span data-ng-show="rc.collapsed" class="text-default text-capitalize" data-ng-bind="rc.getString(rc.by.step2)"></span>
        </h5>
      </div>
      <div class="col-md-3" data-ng-class="rc.collapsed ? 'col-md-2': 'col-md-3'">
        <h5 class="text-uppercase text-primary">
          Step 3: <span data-ng-show="rc.collapsed" class="text-default text-capitalize" data-ng-bind="rc.getString(rc.by.step3)"></span>
        </h5>
      </div>
      <div class="col-md-3" data-ng-class="rc.collapsed ? 'col-md-2': 'col-md-3'">
        <h5 class="text-uppercase text-primary">
          Step 4: <span data-ng-show="rc.collapsed" class="text-default text-capitalize" data-ng-bind="rc.getString(rc.by.step4)"></span>
        </h5>
      </div>
      <div class="col-md-2" data-ng-show="rc.collapsed">
        <button title="Edit Filters" class="btn btn-warning btn-block show-report" data-ng-click="rc.collapsed = false;rc.selectionscollapsed = true;">Edit Filters</button>
      </div>
    </div>
    <div class="adv-filter row" data-ng-hide="rc.collapsed">
      <div class="col-md-3">
        <div class="radio">
          <label>
            <input type="radio" data-ng-model="rc.by.step1" value="grade"> {{rc.stepsStr.grade}}
          </label>
          <label>
            <input type="radio" data-ng-model="rc.by.step1" value="engagement"> {{rc.stepsStr.engagement}}
          </label>
          <label>
            <input type="radio" data-ng-model="rc.by.step1" value="gradeengagement"> {{rc.stepsStr.gradeengagement}}
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="radio">
          <label>
            <input type="radio" data-ng-disabled="rc.by.step1 == null" data-ng-click="rc.getChapters()" data-ng-model="rc.by.step2" value="chapter"> {{rc.stepsStr.chapter}}
          </label>
          <label data-ng-hide="true">
            <input type="radio" data-ng-disabled="rc.by.step1 ==null" data-ng-click="rc.getTopics()" data-ng-model="rc.by.step2" value="topic"> {{rc.stepsStr.topic}}
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="radio">
          <label>
            <input type="radio" data-ng-click="rc.getAssesments()" data-ng-disabled="rc.by.step2 == null" data-ng-model="rc.by.step3" value="assessment"> {{rc.stepsStr.assessment}}
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="radio">
          <label>
            <input type="radio" data-ng-disabled="rc.by.step2 ==null"  data-ng-model="rc.by.step4" value="top"> {{rc.stepsStr.top}}
            <input class="custom-percent top input-sm form-control" type="number" max="100" min="1" data-ng-model="rc.percent.top" data-ng-disabled="!(rc.by.step4 == 'top')">%
          </label>
          <label>
            <input type="radio" data-ng-disabled="rc.by.step2 ==null"  data-ng-model="rc.by.step4" value="bottom"> {{rc.stepsStr.bottom}}
            <input class="custom-percent input-sm form-control" type="number" max="100" min="1" data-ng-model="rc.percent.bottom" data-ng-disabled="!(rc.by.step4 == 'bottom')">%
          </label>
          <label>
            <input type="radio" data-ng-disabled="rc.by.step2 ==null"  data-ng-model="rc.by.step4" value="all">All
          </label>
        </div>
      </div>
    </div>
    <div class="row filter-selectables" data-ng-hide="rc.collapsed">
      <div class="col-md-3">
        <div data-ng-show="rc.by.step1 == 'engagement' || rc.by.step1 == 'gradeengagement'">
          <drop-select type="engagements" model="rc.selected.engagements" options="rc.engagements" placeholder="Select Engagement ..."></drop-select>
        </div>
      </div>
      <div class="col-md-3">
        <div data-ng-show="rc.by.step2 != null">
          <drop-select type="chapters" model="rc.selected.chapters" options="rc.chapters" placeholder="Select Chapter ..." data-ng-show="rc.by.step2 == 'chapter'"></drop-select>
          <drop-select type="topics" model="rc.selected.topics" options="rc.topics" placeholder="Select Topic ..." data-ng-show="rc.by.step2 == 'topic'"></drop-select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ui-select-controller" data-ng-show="rc.by.step3 != null">
          <drop-select type="assessments" model="rc.selected.assessments" options="rc.assessments" placeholder="Select Assessment ..." data-ng-show="rc.by.step3 == 'assessment'"></drop-select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ui-select-controller" data-ng-show="rc.by.step2 != null">
          <drop-select type="users" model="rc.selected.users" options="rc.users" placeholder="Select Users ..." data-ng-show="rc.by.step4 == 'all'"></drop-select>
        </div>
      </div>
    </div>
    <div class="row" data-ng-hide="rc.collapsed">
      <div class="col-md-2 col-md-offset-5 text-center">
        <button title="Show Report" type="button" data-ng-click="rc.showReport()" class="show-report btn btn-warning btn-block">Show Report</button>
      </div>
    </div>
    <div class="row show-selections" data-ng-show="rc.collapsed">
      <div class="list-selections" data-ng-hide="rc.selectionscollapsed">
        <div class="col-md-2">
          <div data-ng-show="rc.by.step1 == 'engagement' || rc.by.step1 == 'gradeengagement'" class="panel panel-default">
            <div class="panel-body">
              <ul class="list-unstyled">
                <li class="text-capitalize" data-ng-repeat="opt in rc.engagements" data-ng-if="opt.selected == true" data-ng-bind="opt.name"></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div data-ng-show="rc.by.step2 != null" class="panel panel-default">
            <div class="panel-body">
              <ul class="list-unstyled">
                <li class="text-capitalize" data-ng-repeat="opt in rc[rc.by.step2 + 's']" data-ng-if="opt.selected == true" data-ng-bind="opt.name"></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div data-ng-show="rc.by.step3 != null" class="panel panel-default">
            <div class="panel-body">
              <ul class="list-unstyled">
                <li class="text-capitalize" data-ng-repeat="opt in rc.assessments" data-ng-if="opt.selected == true" data-ng-bind="opt.name"></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div data-ng-show="rc.by.step4 == 'all'" class="panel panel-default">
            <div class="panel-body">
              <ul class="list-unstyled">
                <li class="text-capitalize" data-ng-repeat="opt in rc.users" data-ng-if="opt.selected == true" data-ng-bind="opt.name"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <button title="Show / Hide Selections" class="btn btn-link btn-block" data-ng-click="rc.selectionscollapsed = !rc.selectionscollapsed">
          <span data-ng-bind="((rc.selectionscollapsed) ? 'Show': 'Hide') + ' Selections'"></span>
          <span class="fa" data-ng-class="(rc.selectionscollapsed) ? 'fa-angle-double-down': 'fa-angle-double-up'"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-12 text-right view-wrapper" data-ng-show="rc.graphDataReady">
    <a class="btn btn-link" data-ng-class="{active: rc.showGraph}" data-ng-click="rc.showGraph=true;rc.showTable=false;">
      <span class="fa fa-bar-chart"></span> Graph
    </a>|
    <a class="btn btn-link" data-ng-class="{active: rc.showTable}" data-ng-click="rc.showTable=true;rc.showGraph=false">
      <span class="fa fa-table"></span> Table
    </a>
  </div>
  <div class="col-md-12 graph-wrapper" data-ng-class="{block: !rc.collapsed}" data-ng-show="rc.showGraph">
    <div class="col-md-2">
      <select title="Sort By" class="form-control input-sm" data-ng-model="rc.sortBy" data-ng-change="rc.sortGraph()">
        <option value="" disabled selected>Sort By</option>
        <option value="name" >Student Name AtoZ</option>
        <option value="grade" data-ng-if="rc.by.step1 != 'engagement'">Grade</option>
        <option value="engagement" data-ng-if="rc.by.step1 != 'grade'">Engagement</option>
      </select>
    </div>
    <div class="col-md-10 text-right graph-controls">
      <div class="all-controls">
        <a title="Show all labels" class="show-labels" href="">Show</a> / <a title="Hide all labels" class="hide-labels" href="">Hide</a> :
      </div>
    </div>
    <div id="jbl-graph-report" class="chart"></div>
  </div>
  <div class="col-md-12 table-wrapper" data-ng-class="{block: !rc.collapsed}" data-ng-show="rc.showTable">
    <div class="col-sm-5 table-responsive">
      <table class="table table-bordered table-striped report-table">
        <thead>
          <tr>
            <th align="center" data-ng-show="rc.avgGrade != null">Average Grade ( % )</th>
            <th align="center" data-ng-show="rc.avgTimespend != null">Average Time Spent ( Minutes )</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td align="center" data-ng-show="rc.avgGrade != null" data-ng-bind="rc.avgGrade"></td>
            <td align="center" data-ng-show="rc.avgTimespend != null" data-ng-bind="rc.avgTimespend"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-1 col-sm-offset-6 text-right">
      <a class="btn btn-link" title="Export to CSV" data-ng-click="rc.exportToCSV()">
        <span class="fa fa-download"></span> CSV
      </a>
    </div>
    <div class="table-responsive col-md-12 col-sm-12">
      <table class="table table-bordered table-striped report-table">
        <thead>
          <tr>
            <th rowspan="{{rc.by.step3 != null ? 3 : 2}}">Student</th>
            <th data-ng-repeat="data in rc.tableHeaders.chapters track by $index" colspan="{{data.span}}">{{data.key}}</th>
          </tr>
          <tr data-ng-show="rc.by.step3 != null">
            <th data-ng-repeat="data in rc.tableHeaders.assessments track by $index" colspan="{{data.span}}">{{data.key}}</th>
          </tr>
          <tr>
            <th class="text-capitalize" data-ng-repeat="data in rc.tableHeaders.studentHeaders track by $index">{{data}}</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="(key, data) in rc.tableHeaders.values track by $index">
            <td>{{key}}</td>
            <td data-ng-repeat="d in data track by $index">{{d}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-12 col-md-12" data-ng-show="rc.showNoDataError">
    <br/>
    <alert type="warning">
      <span class="fa fa-warning"></span> No records found.
    </alert>
  </div>
</div>
