<nav class="navbar navbar-fixed-top navbar-default jbl-navbar">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="">
        <img src="assets/images/logo.png" class="header-image" alt "JBL Reports"/>
      </a>
    </div>
  </div>
</nav>
