.jbl-navbar {
    display: block;
    height: 80px;
    background-image: url('../assets/images/header_bg.png');
    background-color: #fff;
    background-repeat: repeat-x;
    .header-image {
        width: auto;
        height: 50px;
    }
}
