<div class="dropdown-selector">
  <div class="ui-select-controller">
    <a href="" data-ng-click="dsc.selectAll()">Select All</a> /
    <a href="" data-ng-click="dsc.deselectAll()">Clear</a>
  </div>
  <div class='btn-group' data-ng-class='{open: dsc.open}'>
    <button type="button" class='btn btn-block btn-default text-capitalize dropdown-toggle' data-ng-click='dsc.openDropdown()' aria-haspopup="true" aria-expanded="{{dsc.open}}">
     {{dsc.value || dsc.placeholder}} <span class='caret'></span>
    </button>
    <ul class='dropdown-menu'>
      <li class="checkbox" data-ng-repeat="option in dsc.options | orderBy:'name'">
        <label class="text-capitalize">
          <input type="checkbox" data-ng-model="option.selected" data-ng-change="dsc.toggleSelect()" />
          {{option.name}}
        </label>
      </li>
    </ul>
  </div>
</div>

