.dropdown-selector {
    .ui-select-controller {
        margin-bottom: 10px;
    }
    .btn-group {
        width: 100%;
        .btn {
            text-align: left;
            position: relative;
            .caret {
                position: absolute;
                top: 14px;
                right: 8px;
            }
        }
    }
    ul {
        max-height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
        li.checkbox {
            padding: 6px 15px 0 4px;
            margin: 0;
            cursor: pointer;
            label {
                display: block;
                margin: 0;
                white-space: nowrap;
            }
            &:hover {
                background: $brand-primary;
                color: #fff;
            }
        }
    }
}
