.css-content-progress {
    top: 80px;
    height: 3px;
    z-index: 1100;
    position: fixed;
    @include transition(width .20s linear);
    .progress {
        height: 3px;
        border-radius: 0;
        .progress-bar {
            background: #004c8f;
        }
    }
}
