/**
 * @description: Stylesheet for App
 * @author: Pradeep Patro <patro.pradeep@outlook.com>
 */

html {
  /** remove iOS text size adjust without disabling user zoom */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /** eliminate 300ms click delay */
  -ms-touch-action: manipulation; /** IE10 */
  touch-action: manipulation; /** IE11 */
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* remove the gray background color from active links in IE */
a {
  background: transparent;
  cursor: pointer;
}
/* address style set to "bolder" in Firefox, Safari and Chrome */
b, strong { font-weight: bold; }

/* address "overflow" set to "hidden" in IE */
button { overflow: visible; }
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$fa-font-path: "../../bower_components/components-font-awesome/fonts";
$font-family-base: 'Roboto', sans-serif;
$font-size-base: 14px;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$border-radius-base: 4px;
$brand-primary: #468cc8;
$brand-warning: #ee512e;
$brand-success: #99bc7b;
$brand-danger: #d71920;
$brand-info: #7babc0;
$container-lg: 1026px;
/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    background: #fefefd;
    @include transition(all .15s linear);
    height: 100%;
}
#content {
    display: block;
    padding-top: 100px;
    min-height: 540px;
}

footer {
    display: block;
    border-top: 1px solid #e7e7e7;
    padding: 20px;
    margin-top: 30px;
}
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
